.nav {
    padding-bottom: 20px;
}

.content {
    padding-bottom: 20px;
}

.errors {
    background: red;
    color: #fff;
    padding: 10px;
    margin-bottom: : 20px;
}

    .errors li {
        padding-bottom: 10px;
    }