<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>info</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="static/styles.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <nav class="nav">
            <a href="/info">info</a>
            <a href="/welcome">welcome</a>
            <a href="/registration">registration</a>
            <a href="/login">login</a>
        </nav>

        <div class="content">
            {{ !base }}
        </div>
    </body>
</html>