% rebase('templates/base.html')
<form action="/login" method="POST" novalidate>
    <input type="email" name="email" value="{{ form['email'] }}">
    <input type="password" name="password">
    <button>submit</button>
</form>

% if defined('errors_form'):
    <ul class="errors">
        % for error in errors_form:
            <li>{{ error }}</li>
        %end
    </ul>
