% rebase('templates/base.html')
<form action="/registration" method="POST" novalidate>
    <input type="email" name="email" value="{{ form['email'] }}">
    <input type="text" name="username" value="{{ form['username'] }}">
    <input type="password" name="password1">
    <input type="password" name="password2">
    <button>submit</button>
</form>

% if defined('errors_form'):
    <ul class="errors">
        % for error in errors_form:
            <li>{{ error }}</li>
        %end
    </ul>
